body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
}


/* Header & Footer Styles */
.header {
    display: flex;
    align-items: end;
}
/* Content Styles */
.content {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 1000px;
    padding: 5em 0em;
    flex: 1;
}

.settings {
    background-color: whitesmoke;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    background: red;
}

    .slider:hover {
        opacity: 1;
        cursor: pointer;
    }

.sketchpad {
    display: grid;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    background-color: grey;
    border: 2px black solid;
}

.cell {
    background-color: white;
}

button {
    display: flex;
    margin: 10px;
    width: 120px;
    justify-content: center;
    padding: 5px;
    border: solid thin black;
    border-radius: 5px;
    background-color: white;
}

    button:hover {
        cursor: pointer;
        background-color: gainsboro;
    }

button:hover {
    opacity: 1;
}

p, #cellSize {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}