*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.container > div {
    padding: 15px;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
}

/* SIDEBAR PROPERITES */

.sidebar {
    background-color: #1DA1F2;
    grid-row: 1 / 3;
}

.sidebar > ul {
    display: grid;
}

.sidebar-title {
    font-size: 28px;
    align-items: center;
    color: white;
    align-items: start;
    margin-bottom: 30px;
}

.sidebar-option {
    font-size: 15px;
    color: white;
    list-style: none;
    margin: 10px 0px;
}

.sidebar-option:nth-child(6) {
    margin-bottom: 30px;
}

li:hover {
    cursor: pointer;
    background-color: #FFD966;
}

/* HEADER PROPERTIES */

.header {
    grid-column: 2 / 4;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 1px 5px 0px grey;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.searchbar {
    background-color: #EEEEEE;
    border: none;
    border-radius: 15px;
    width: 90%;
    height: 25px;
}

.profile-picture {
    height: 20px;
    width: 20px;
}

.profile-name {
    font-size: smaller;
}

.header > .welcome-message {
    justify-self: start;
    font-size: smaller;
}

.welcome-message > div {
    font-size: large;
}

button {
    font-size: 0.8em;
    color: white;
    background-color: #1DA1F2;
    width: 80%;
    height: 25px;

    border-radius: 40px;
    border: none;
}

button:hover {
    background-color: #FFD966;
    cursor: pointer;
}

/* MAIN CONTENT PROPERTIES */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content-left, .main-content-right {
    background-color: #EEEEEE;
}

.your-projects, h4 {
    margin: 8px 0px;
}

.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(3, 1fr);

    margin-top: 5px;
}

.card-title {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid #FFD966;
}

.card-content {
    font-weight: 400;
    color: grey
}

.announcments, .trending {
    background-color: white;
    height: 40%;
    display: grid;
}