*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.container > div {
    padding: 15px;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
}

.sidebar {
    background-color: #1DA1F2;
    grid-row: 1 / 3;
}

.sidebar-title {
    font-size: 28px;
    align-items: center;
    color: white;
    align-items: start;
    margin-bottom: 30px;
}

.sidebar-option {
    font-size: 15px;
    color: white;
    list-style: none;
    margin: 10px 0px;
}

.sidebar-option:nth-child(6) {
    margin-bottom: 30px;
}


.header {
    grid-column: 2 / 4;
    justify-items: center;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.searchbar {
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 25px;
}

.profile-picture {
    height: 20px;
    width: 20px;
}

.header:nth-child(7) {
    justify-items: start;
}

button {
    font-size: 16px;
    color: white;
    background-color: #1DA1F2;
    width: 100px;
    height: 50px;

    border-radius: 40px;
}

button:hover {
    background-color: darkblue;
    cursor: pointer;
}

.main-content {
    background-color: lightgrey;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.your-projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr
}

.cards {
    background-color: white;
}

.announcments {
    display: grid;
    grid-template-rows: 1 / 3;
}

.trending {
    display: grid;
    grid-template-rows: 1 / 4;
}

.trending > div {
    justify-items: center
}