* {
    margin: 0;
    padding: 0;
}

/* In your CSS file, apply Grid properties until you have this basic layout built. */

.container {
    height: 100vh;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.container > div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    background-color: lightgrey;

}

.sidebar {
    grid-row: 1 / 3;

    display: grid;
}

.header {
    grid-column: 2 / 4;

    display: grid;
}

.main-content {
    grid-column: 2 / 4;

    display: grid;
}