* {
    box-sizing: border-box;
  }

body {
  background-color: #feecd2;
}

nav {
  background-color: #deb887;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  nav h1 {
    margin-left: 1.5rem;
  }

  nav button {
    width: 100px;
    height: 35px;
    margin-right: 1.5rem;
  }

  nav button:hover {
    cursor: pointer;
  }

main {
  padding: 20px;
}

.addBook {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
  background-color: #573912;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;

  font-size: 35px;
}

  .addBook:hover {
    cursor: pointer;
    color: black;
    background-color: #deb887;
  }

/* Style of the layout */
.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-items: center;
}

/* Stlye of the individual books */
.book {
  height: 250px;
  aspect-ratio: 6 / 9;
  color: white;
  background-color: #573912;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
