html, body, * {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 16em;
    height: 16em;
    margin: auto;
}

.gameTile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    border: 1px red solid;
}

.gameTile:hover {
    cursor: pointer;
}

.winner {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: x-large;
}

.resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    margin: 1rem auto;
    border: 1px red solid;
    background-color: lightcoral;
    border-radius: 5px;
}

.resetBtn:hover {
    background-color: white;
    font: white;
    cursor: pointer;
}