html, body, * {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 16em;
    height: 16em;
    margin: auto;
}

.gameTile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    border: 1px red solid;
}

.gameTile:hover {
    cursor: pointer;
}

.winner {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: x-large;
}

.playerNameForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    max-width: 500px;
    margin: auto;
    padding: 20px 0;
    font-weight: 600;
}

label {
    margin-bottom: 10px;
}

input {
    border: 1px red solid;
    height: 30px;
    width: 50%;
    font-size: large;
}

.startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    margin: 1rem auto;
    background-color: lightgreen;
    border: 1px green solid;
    border-radius: 5px;
    font-weight: 600;
}

.startBtn:hover {
    background-color: darkgreen;
    color: lightgreen;
    cursor: pointer;
}

.resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    margin: 1rem auto;
    border: 1px red solid;
    background-color: lightcoral;
    border-radius: 5px;
}

.resetBtn:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}