body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
}


/* Header & Footer Styles */
.header {
    display: flex;
    align-items: end;
}
/* Content Styles */
.content {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    padding: 5em 0em;
    flex: 1;
}

.settings {
    background-color: whitesmoke;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sketchpad {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    background-color: grey;
}

.sketchpad > .cell {
    background-color: pink;
    border: 1px black solid;
}

button {
    display: flex;
    margin: 10px;
    width: 120px;
    justify-content: center;
    padding: 5px;
    border: solid thin black;
    border-radius: 5px;
    background-color: white;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}